.page{
    &__img{
        img{
            width: 100%;
        }
    }

    &__content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__logo{
        width: 100px;

        img{
            width: 100%;
        }
    }

    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            margin-right: $size-space;
        }

        a{
            color: $color-light_black;
            text-decoration: underline;
        }
    }

    &__input{
        border: 1px solid $color-border;
        padding: 2px 4px;

        input{
            border: none;
        }
    }
}