$color-opacity: rgba(0, 0, 0, 0.5);
$color-transparent: transparent;
$color-black: #000;
$color-light_black: #252525;
$color-white: #fff;
$color-yellow: #E6AE48;
$color-detail: #818181;
$color-dark_detail: #494949;
$color-dark_time: #a7a7a7;
$color-time: #C1C1C1;
$color-light_time: #D6D6D6;
$color-red: #ED301C;
$color-green: #62AF26;
$color-blue: #24C5D9;
$color-border: #E6E6E6;
$size-detail: 14px;
$size-small_detail: 12px;
$size-title: 18px;
$size-space: 10px;
$size-space_small: 5px;
$size-btn_square: 30px;